nav{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    padding: 10px,5px;
  

}


nav ul li{
    list-style-type: none;
    display: flex;   
    align-items: center; 
    color: black;
  
    
}
nav ul li a{
    text-decoration: none;
}
nav ul{
    display: flex;
    gap: 22px;
    margin-top: 20px;
    color: black;
    font-weight: 500;
   
}
.btn1{
    border-radius: 6px;
    background: #30B868;
    width: 164px;
    height: 44px;
    padding: 12px,16px,12px,16px;
    gap: 10px;
   
    align-items: center;
    border: none;
    color: white;
    cursor: pointer;
}

.hero-section{
    background-image:linear-gradient(rgba(15, 40, 50, 0.3)),url(assets/hero-bg.png);
    background-position:center;
    background-size: cover;
     height:600px;
     width:100%;
    justify-content: center;
    display: flex;
    align-items: center;
  
    text-align: center;
    color: white;
    padding:0px;
}
.hero-content h1{
    font-size: 4.5rem;
    font-weight:bold;
    margin: bottom 15px;
    letter-spacing: 2px;
  
}
.hero-content p{
    font-size:1.2rem;
    margin-bottom:30px;
 
}
.button-group{
    display: flex;
    gap: 20px;
    justify-content: center;
   
}
.btn2{
   border-radius: 6px;
    background: #30B868;
    width: 200px;
    padding: 14px,40px;
    height: 40px;
    font-weight:bold;
    gap: 10px;
    align-items: center;
    border:rgb(244, 239, 239),1px,solid;
    color: white;
   
    
    
}
.btn3{
    background-color: transparent;
    border-radius: 6px;
    width: 200px;
    height: 40px;
    padding: 14px,40px;
    gap: 10px;
    font-weight:bold;
    align-items: center;
    border:rgb(244, 239, 239),1px,solid;
    color: white;
    
}
.btn2:hover{
     transition:  0.3s;
    background-color: #047232;
    cursor: pointer;
}
.btn3:hover{
    transition: all 0.3s ease;
    background-color: #047f37;
    cursor: pointer;
}

.notes h1{
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight:bold;
    margin-top: 80px;
  

}
.notes p{
   align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: -10px;
   
}
.cards-section-parents{
    width: 1100px;
    height: 250px;
    margin: 80px auto;
    display: flex;
    justify-content: space-between;
    gap: 15px;

 
}
.Cards{
background:rgba(255, 255, 255, 1);
border-radius: 8px;
padding:12px;
border: #181918;
display: flex;
flex-direction: column;

}
.Cards img{
    background-color: rgba(249, 85, 85, 1);
    border-radius: 40px;
    width: 30px;
    height: 30px;
}
.Cards h2{
margin-bottom: 0px;
}
.Cards p{
    margin-top: 5px;
}
.Brain-design{
    display: flex;
    justify-content: space-around;
    align-items: center;
  
    

}
.Brain-pragraph p{
    color: rgb(22, 85, 133);
   
}



 

