nav{
    display: flex;
    justify-content: space-between;
    margin margin-top: 0px;
    padding: 10px,0px;

}


nav ul li{
    list-style-type: none;
    display: flex;   
    align-items: center; 
    
}
nav ul li a{
    text-decoration: none;
}
nav ul{
    display: flex;
    gap: 22px;
    margin-top: 20px;
    color: black;
    font-weight: 500;
}
.btn{
    border-radius: 6px;
    background: #30B868;
    width: 164px;
    height: 44px;
    padding: 12px,16px,12px,16px;
    gap: 10px;
    align-items: center;
    border: none;
    color: white;
}

    



